# This is the EditorConfig file for the project.
# It defines coding styles and formatting rules for different file types.
root = true

# The following settings apply to all files in the project.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# The following settings apply specifically to Kotlin files (.kt and .kts).
[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120

# Additional settings for Kotlin files to allow trailing commas and define the import layout.
ij_kotlin_allow_trailing_comma = true
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,android.**,androidx.**